.form {
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #808080;
    width: 272px;
    height: 40px;
}

input {
    width: 100%;
    border: 1px solid #808080;
    padding: 8px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    transition: border 250ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input:hover {
    border: 1px solid #000;
}

input:focus {
    border: 1px solid #4e75ff;
    outline: none;
}

button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 91px;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: #6c8cff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: auto;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 156px;
}

.gallery-item {
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5),
                0 8px 16px rgba(0, 0, 0, 0.5);
    transition: transform 500ms ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.08);
}

.gallery-link {
    display: block;
}

.gallery-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.meta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    padding: 8px 20px;
    margin: 0 auto;
    text-align: center;
    color: #2e2f42;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.04em;
}

.meta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meta-label {
    font-weight: 600;
    line-height: 1.33;
}

.meta-value {
    font-weight: 400;
    line-height: 2;
}

.sl-image img {
    border-radius: 10px;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.sl-caption {
    text-align: center;
    border-radius: 10px;
}

.sl-wrapper {
    background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-close,
body .sl-wrapper .sl-counter,
body .sl-wrapper .sl-navigation button {
    color: #fff;
}

body .sl-wrapper .sl-close:hover,
body .sl-wrapper .sl-close:focus {
   color: rgb(200, 200, 200);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #4e75ff;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

.hidden {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}